Câu 1 Lập trình đối tượng và tính toán số học

phần 1 ý a

In [5]:
#xây dựng lớp cha
class NhanVien:
    def __init__(self, ma_nv: str, luong_cb: float):
        self.__ma_nv = ma_nv
        self.__luong_cb = luong_cb

    def tinh_luong(self):
        return self.__luong_cb

    def get_ma_nv(self):
        return self.__ma_nv

phần 2 ý a

In [6]:
#xây dựng lớp con
class NhanVienTangCa(NhanVien):
    def tinh_luong(self):
        return super().tinh_luong() * 1.2


class NhanVienChuyenChuyen(NhanVien):
    def tinh_luong(self):
        return super().tinh_luong() + 500_000

phần 3 ý a

In [7]:
# chương trình chính(main)
ds_nv = [
    NhanVien("NV01", 10_000_000),
    NhanVienTangCa("NV02", 10_000_000),
    NhanVienChuyenChuyen("NV03", 10_000_000)
]

for nv in ds_nv:
    print(f"Mã NV: {nv.get_ma_nv()} | Lương: {nv.tinh_luong():,.0f} VND")

Mã NV: NV01 | Lương: 10,000,000 VND
Mã NV: NV02 | Lương: 12,000,000 VND
Mã NV: NV03 | Lương: 10,500,000 VND

Phần 1 ý b

In [8]:
#Chuyển danh sách thành mảng NumPy và reshape
import numpy as np

san_luong = [12, None, 8, 15, None, 10]

arr = np.array(san_luong, dtype=float)
arr = arr.reshape(2, 3)

Phần 2 ý b

In [9]:
# Thay NaN bằng giá trị trung bình
mean_value = np.nanmean(arr)
arr = np.nan_to_num(arr, nan=mean_value)

print("Mảng sau khi xử lý:")
print(arr)

Mảng sau khi xử lý:
[[12.   11.25  8.  ]
 [15.   11.25 10.  ]]

Phần 3 ý b

In [10]:
#Trích xuất phần tử > 9 và tìm giá trị nhỏ nhất
filtered = arr[arr > 9]
min_value = np.min(filtered)

print("Các phần tử > 9:", filtered)
print("Giá trị nhỏ nhất:", min_value)

Các phần tử > 9: [12.   11.25 15.   11.25 10.  ]
Giá trị nhỏ nhất: 10.0

Câu 2 Xử ký dữ liệu thực tế với Pandas và SQL

In [10]:
df.columns = (
    df.columns
    .str.strip()
    .str.replace(" ", "_")
)

In [11]:
df["Nam_Cong_Tac"]

0     2021
1     2022
2     2023
3     2020
4     2021
5     2024
6     2023
7     2019
8     2022
9     2024
10    2021
11    2020
Name: Nam_Cong_Tac, dtype: int64

In [ ]:
import pandas as pd
import sqlite3

# a) Đọc dữ liệu
import pandas as pd

# Đọc dữ liệu
df = pd.read_csv("nhan_su.csv")

# Lọc Ma_NV chứa 'NS' (không phân biệt hoa thường, xử lý NaN)
# và Nam_Cong_Tac >= 2021
df_filtered = df[
    df["Ma_NV"].astype(str).str.contains("NS", case=False, na=False)
    & (df["Nam_Cong_Tac"] >= 2021)
]


# b) Điền giá trị thiếu Thanh_Tich bằng trung bình (sau lọc)
mean_thanh_tich = df_filtered["Thanh_Tich"].mean()
df_filtered["Thanh_Tich"] = df_filtered["Thanh_Tich"].fillna(mean_thanh_tich)

# c) Groupby – Tổng Thanh_Tich theo Phong_Ban
grouped = df_filtered.groupby("Phong_Ban")["Thanh_Tich"].sum()
print("Tổng Thanh_Tich theo Phòng Ban:")
print(grouped)

# d) Pivot Table
pivot_table = pd.pivot_table(
    df_filtered,
    index="Phong_Ban",
    columns="Nam_Cong_Tac",
    values="Thanh_Tich",
    aggfunc="sum",
    fill_value=0
)

print("\nPivot Table:")
print(pivot_table)

# e) Lưu vào SQLite và truy vấn
conn = sqlite3.connect("HeThong.db")

pivot_table.to_sql(
    "bang_luong_2024",
    conn,
    if_exists="replace"
)

# Truy vấn 5 dòng đầu tiên
query = "SELECT * FROM bang_luong_2024 LIMIT 5"
result = pd.read_sql(query, conn)

print("\n5 dòng đầu tiên trong bảng bang_luong_2024:")
print(result)

conn.close()